@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Red Hat Display";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.cols__container{
    margin-top: 2.5rem;
    margin-bottom: 7rem;
}

.profile{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.1);
    z-index: 1000;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.left__col {
    position: relative;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, var(--third-color) 5px, white 230px);
    border-right: solid var(--third-color) 2px;
}

.right__col{
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: white;
    display: block;
}

.img__container {
    display: flex;
    justify-content: center;
}

.img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgb(255, 255, 255);
    /* margin-top: -18% */;
}


#editLogo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
}

#editLogo:hover{
    transform: scale(1.2);
}


#fullName {
    text-align: center;
    font-weight: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5px;
    color: black;
}

#job, #personal_mail{
    text-align: center;
    color: #818181;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
    text-align: center;
}

.about li {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1rem;
}

.number {
    color: var(--third-color);
    font-weight: 600;
}

.about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}

#bio {
    font-size: 1rem;
    color: black;
    font-weight: 300;
    text-align: center;
}

.content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: var(--third-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.socialIcons-bio{
    transition: 0.5s;
}

.socialIcons-bio:hover{
    transform: translateY(-5px);
}


.nav {
    width: 100%;
    z-index: -1;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
    box-shadow: 0px -3px 0px var(--third-color) inset;
}

.profile-body{
    width: 100%;
    z-index: -1;
}

.tab{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

/*Tabs ------------------------------------------------------------------------------------------------------*/

/*FRIENDS-----------------------------------------*/

.friends-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.friend{
    height: 135px;
    width: 135px;
    text-align: center;
    font-size: smaller;
    margin: 30px;
    background-color: var(--third-color);
    border-radius: 50%;
}

.friendImage img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px var(--third-color);
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.friendName{
    margin-top: 0.5rem;
    cursor: pointer;
}

.friendName:hover{
    color: var(--third-color);
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnAddFrineds{
    font-size: 1rem;
    cursor: pointer;
    color: black;
    margin-top: 5rem;
    width: 150px;
    height: 50px;
    background-color: var(--third-color);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: solid 2px transparent;
    padding: 1rem;
    position: relative;
    color: white;
}

#btnAddFrineds:hover{
    background-color: transparent;
    border: solid 2px var(--third-color);
    color: var(--third-color);
}

/*REWARDS------------------------------------------------*/


.rewards-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reward {
    text-align: center;
    font-size: smaller;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rewardImage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.rewardDate{
    color: #818181;
    font-size: 0.8rem;
    font-weight: 400;
}