@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--primary-color);
    font-family: "Red Hat Display";
    font-weight: bolder;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
    display: none;
  }
  html {
    height: 100%;
  }
  
  /*primary dark mode colors*/
  :root {
    --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --secondary-color: #fff;
    --third-color: rgb(121, 202, 255);
  }
  
  /*light mode*/
  .light-theme {
    --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
    --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --third-color: rgb(121, 202, 255);
  }

  /*TODO list*/
  .app{
    position: absolute;
    top: 1.8em;
    margin: auto;
    width: min(95vh, 31.25rem);
    left:0;
    right:0;
    color: white;
  }
  .container{
   padding: 2em 1.5rem;
   background-color: white;
   box-shadow:0 1em 2em rgba(0,0,0,0.3);
   border-radius: 0.8rem;
   color: black;
  }
  .wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
  }
  .wrapper input{
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
  }