@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--primary-color);
    font-family: "Red Hat Display";
    font-weight: bolder;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
    display: none;
  }
  html {
    height: 100%;
  }
  
  /*primary dark mode colors*/
  :root {
    --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --secondary-color: #fff;
    --third-color: rgb(121, 202, 255);
  }
  
  /*light mode*/
  .light-theme {
    --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
    --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --third-color: rgb(121, 202, 255);
  }

  /*TODO list*/
  .app{
    position: absolute;
    top: 1.8em;
    margin: auto;
    width: min(95vh, 31.25rem);
    left:0;
    right:0;
    color: white;
  }
  .container{
   padding: 2em 1.5rem;
   background-color: white;
   box-shadow:0 1em 2em rgba(0,0,0,0.3);
   border-radius: 0.8rem;
   color: black;
  }
  .wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
  }
  .wrapper input{
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
  }
  .wrapper input:focus{
    outline: none;
    border-color: var(--third-color);
  }
  .add-btn{
    padding: 5px;
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size: 1em;
    background-color: var(--third-color);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
  #error{
    text-align: center;
    background-color: white;
    color: red;
    margin-top: 1.5em;
    padding: 1em 0;
    display: none;
    border-radius: 0.8rem;
  }
  .tasks{ 
    
    margin-top: 1em;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
  }

  .task{ /*posamezno opravilo v containerju*/
    background-color: whitesmoke;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns:1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
    align-items: center;
    cursor: pointer;
  }
  .task:not(:first-child){ /*opravila so primerno narazen*/
    margin-top: 1em;
  }
  .task input[type="checkbox"]{
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
  }
  .task input[type="checkbox"]:before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
  }
  .task input[type="checkbox"]:checked{
    background-color: var(--third-color);
  }
  .task span{
    font: 0.9em;
    font-weight: 400;
    word-break: break-all;
  }

  .task button{
    color: #ffffff;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .edit{
    background-color: var(--third-color);
  }

  .delete{
    background-color: red;
  }

  #pending-tasks span{
  color: black;
  }
  
  .completed{
    text-decoration: line-through;
    color: #a0a0a0;
  }