<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login2.css">
    <title>login</title>
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post" id="loginbox">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <button type="submit" class="submit-btn">login</button>
        </form>
        <p>Dont have an account? <a href="/signup">signup</a></p>
    </div>
</body>
</html>