/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  font-family: "Red Hat Display";
  font-weight: bolder;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
  display: none;
}
html {
  height: 100%;
}

/*primary dark mode colors*/
:root {
  --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --secondary-color: #fff;
  --third-color: rgb(121, 202, 255);
}

/*light mode*/
.light-theme {
  --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
  --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --third-color: rgb(121, 202, 255);
}

.form-container{
    background-color: white;

    width: 20%;
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 10px;
}

.form-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}