/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  font-family: "Red Hat Display";
  font-weight: bolder;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
  display: none;
}
html {
  height: 100%;
}

/*primary dark mode colors*/
:root {
  --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --secondary-color: #fff;
  --third-color: rgb(121, 202, 255);
}

/*light mode*/
.light-theme {
  --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
  --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --third-color: rgb(121, 202, 255);
}

.progress-container{
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 5%;
}
.progress-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    height: 35rem;
    gap: 30rem;
}
.first-graph-container,
.second-graph-container{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1.2rem;
    width: 30rem;
    height: 30rem;
    transition: 0.5s ease-in-out;
    margin: 1%;
}
#progress-icon{
    position: relative;
    font-size: 20px;
    color: black;
    top: 4px;
    margin-right: 10px;
}