@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--primary-color);
    font-family: "Red Hat Display";
    font-weight: bolder;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
    display: none;
  }
  html {
    height: 100%;
  }
  
  /*primary dark mode colors*/
  :root {
    --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --secondary-color: #fff;
    --third-color: rgb(121, 202, 255);
  }
  
  /*light mode*/
  .light-theme {
    --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
    --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
    --third-color: rgb(121, 202, 255);
  }
  /*Icons dark/light mode*/

#moon,
#sun {
  font-size: 40px;
  position: relative;
  top: -6px;
}

#moon {
  color: grey;
}

#sun {
  color: black;
}

#moon:hover,
#sun:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
/*NAVBAR------------------------------------------------------------------------------------------------------------*/

.header {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.navbar{
  margin-right:35px
}
header h1 {
  font-size: 25px;
  font-weight: 400px;
  font-family: "Kaushan Script";
  font-style: normal;
  font-display: swap;
  color: var(--secondary-color);
  margin-left: 40px;
}
header .navbar ul{
  list-style: none;
  
}
.header .navbar ul li{
  position: relative;
  float:left;
  padding: 55px;

}
.header .navbar ul li a, #welcomeMessage{
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Red Hat Display";
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.5px;
  position: relative;
  
}
.header .navbar ul li a:hover {
  color: var(--third-color);
}
/*Dropdown menu celotni blok*/
.header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  display: none;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: whitesmoke;
  z-index: 999;
}
/*Dropdown menu posamezne komponente*/
.header .navbar ul li ul li{
  position: relative;
  width: 100%;
  height: 6vh;
  letter-spacing: 0.5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px;
  
}
/*napisi zavihkov znotraj dropdown*/
.header .navbar ul li ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: black;

}
/*Postavitev na more*/
.header .navbar ul li:hover > ul{
  display: block;
  
}
/*puscica zraven more*/
.dropdown-arrow {
  height: 0;
  width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
  position: relative;
  left: 60px;
  bottom:15px
}

/*UNDERLINE EFEKT*/
.header .navbar a:after{
  content: "";
  position: absolute;
  background-color: var(--third-color);
  height: 3px;
  width: 0%;
  left:0;
  bottom: -10px;
  transition: 0.4s;
}
.navbar li a.active {
  color: var(--third-color);
}
.navbar a:hover:after{
  width: 100%;
}
  /*TODO list*/
  .app{
    position: absolute;
    top: 1.8em;
    margin: auto;
    width: min(95vh, 31.25rem);
    left:0;
    right:0;
    color: white;
  }
  .container{
   padding: 2em 1.5rem;
   background-color: white;
   box-shadow:0 1em 2em rgba(0,0,0,0.3);
   border-radius: 0.8rem;
   color: black;
   margin-top: 8em;
  }
  .wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
  }
  .wrapper input{
    width: 100%;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
  }
  .wrapper input:focus{
    outline: none;
    border-color: var(--third-color);
  }
  .add-btn{
    padding: 5px;
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size: 1em;
    background-color: var(--third-color);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
  #error{
    text-align: center;
    background-color: white;
    color: red;
    margin-top: 1.5em;
    padding: 1em 0;
    display: none;
    border-radius: 0.8rem;
  }
  .tasks{ 
    
    margin-top: 1em;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
  }

  .task{ /*posamezno opravilo v containerju*/
    background-color: whitesmoke;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns:1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
    align-items: center;
    cursor: pointer;
  }
  .task:not(:first-child){ /*opravila so primerno narazen*/
    margin-top: 1em;
  }
  .task input[type="checkbox"]{
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
  }
  .task input[type="checkbox"]:before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
  }
  .task input[type="checkbox"]:checked{
    background-color: var(--third-color);
  }
  .task span{
    font: 0.9em;
    font-weight: 400;
    word-break: break-all;
  }

  .task button{
    color: #ffffff;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .edit{
    background-color: var(--third-color);
  }

  .delete{
    background-color: red;
  }

  #pending-tasks span{
  color: black;
  }
  
  .completed{
    text-decoration: line-through;
    color: #a0a0a0;
  }

  /*FOOTER-----------------------------------------------------------------------------------------------------------*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
/*Socialna omrežja*/
.footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0;
  flex-wrap: wrap;
}
.footer .social_icon li {
  list-style: none;
}
.footer .social_icon li a {
  font-size: 2em;
  display: inline-block;
  margin: 0 80px;
  transition: 0.5s;
  color: var(--secondary-color);
}
.footer .social_icon li a:hover {
  transform: translateY(-10px);
}

/*Copyright*/
.footer .copyright li {
  list-style: none;
}
.footer .copyright li a {
  font-size: 1.0em;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  color: var(--secondary-color);
}