/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  font-family: "Red Hat Display";
  font-weight: bolder;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*Scroll opcija ostaja skrita ampak se obdrži funkcionalnost*/
body::-webkit-scrollbar{
  display: none;
}
html {
  height: 100%;
}

/*primary dark mode colors*/
:root {
  --primary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --secondary-color: #fff;
  --third-color: rgb(121, 202, 255);
}

/*light mode*/
.light-theme {
  --primary-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 181, 230));
  --secondary-color: linear-gradient(to bottom right, #2c3e50, rgb(0, 0, 0));
  --third-color: rgb(121, 202, 255);
}

/*NAVBAR------------------------------------------------------------------------------------------------------------*/

.header {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.navbar{
  margin-right:35px
}
header h1{
  font-size: 25px;
  font-weight: 400px;
  font-family: "Kaushan Script";
  font-style: normal;
  font-display: swap;
  color: var(--secondary-color);
  margin-left: 40px;
}
header .navbar ul {
  list-style: none;
  
}
.header .navbar ul li{
  position: relative;
  float:left;
  padding: 55px;

}
.header .navbar ul li a, #welcomeMessage{
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Red Hat Display";
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.5px;
  position: relative;
  
}
.header .navbar ul li a:hover {
  color: var(--third-color);
}
/*Dropdown menu celotni blok*/
.header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  display: none;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: whitesmoke
}
/*Dropdown menu posamezne komponente*/
.header .navbar ul li ul li{
  position: relative;
  width: 100%;
  height: 6vh;
  letter-spacing: 0.5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px;
  
}
/*napisi zavihkov znotraj dropdown*/
.header .navbar ul li ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: black;

}
/*Postavitev na more*/
.header .navbar ul li:hover > ul{
  display: block;
  
}
/*puscica zraven more*/
.dropdown-arrow {
  height: 0;
  width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #333;
  position: relative;
  left: 60px;
  bottom:15px
}

/*UNDERLINE EFEKT*/
.header .navbar a:after{
  content: "";
  position: absolute;
  background-color: var(--third-color);
  height: 3px;
  width: 0%;
  left:0;
  bottom: -10px;
  transition: 0.4s;
}
.navbar li a.active {
  color: var(--third-color);
}
.navbar a:hover:after{
  width: 100%;
}

/*Explore zavihek*/

/*Explore main card*/
.explore-card{
  width: 100%;
  background-color: white;
  height: 35vh;
 
}
.welcome-blog-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6%
}
.blog-header{
  font-weight: bold;
  font-size: 45px;
}
.blog-smallheader{
  font-size: 20px;
  font-weight: bold;
}
/*Explore undercard*/
.post-main-card{
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  column-gap: 2.5rem;
  margin-top: 2rem;

}
.filter-card{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.active-filter{
  background: var(--third-color);
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
}
/*News main posts*/
.post{
  margin: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 200px));
  justify-content: center;
  gap: 1.5rem;
}
.post-box{
  background: whitesmoke;
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}
.post-img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  margin-top: 5px;
  font-size: 0.67rem;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
.post-title{
  font-size: 1rem;
  font-weight: 600;
  /*obdrzi naslov v eni vrstici*/
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-decoration: none;
  color: var(--third-color);
}
.post-date{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 4px;

}
.post-description{
 font-size: 0.9rem;
 line-height: 1.5rem;
 margin: 5px 0 10px;
 /*obdrzi text v treh vrsticah*/
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
}


/*Primary dasboard*/
.dashboard-content {
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 2%;
  }
  .dashboard-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 2rem;
  }
  .search-bar {
    background: rgb(237,237,237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
  }
  .search-bar input{
    background: transparent;
    padding: 3px;
  }
  .search-bar i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .search-bar i:hover{
    transform: scale(1.2);
  }
  
/*Macro container*/

.card-welcome{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin: 1% 2%;
  }
  .card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .card-title{
    padding-bottom: 20px;
    font-size: 20px;
  }
  .protein-counter,
  .carb-counter,
  .fat-counter,
  .sugar-counter{
      background-color: rgb(205, 205, 205);
      border-radius: 10px;
      padding: 1.2rem;
      width: 20%;
      height: 25%;
      transition: 0.5s ease-in-out;  
      margin: 15px;  
  }
  .protein-counter:hover,
  .carb-counter:hover,
  .fat-counter:hover,
  .sugar-counter{
    transform: translateY(-5px);
  }

  /*total calories container*/
  .total-calories{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    margin-right: 80%;
    margin-left: 2%;
  }
  .total-calories-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .total-calories-title{
    font-size: 20px;
  }
/*Icons dark/light mode*/

#moon,
#sun {
  font-size: 40px;
  position: relative;
  top: -6px;
}

#moon {
  color: grey;
}

#sun {
  color: black;
}

#moon:hover,
#sun:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
/*Contatct---------------------------------------------------------------------------------------------------------*/

.contact-container{
  padding-left: 100px;
  padding-right: 100px;
}

.contact {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form{
  background-color: #fff;
  position: relative;
  padding: 2.3rem 2.2rem;
  overflow: hidden;
  position: relative;
}

.title {
  color: black;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0.7rem;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.title span{
  color: var(--third-color);
}

.contact-full-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.contact-input-container {
  position: relative;
  margin-top: 1rem;
}

.contact-input {
  width: 100%;
  outline: none;
  border: 2px solid hsla(208, 94%, 54%, 0.137);
  background-color: hsl(208, 50%, 50%, 6.5%);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  color: rgb(54, 54, 54);
  font-size: 1.1rem; /* Adjusted font size */
  letter-spacing: 0.8px; /* Adjusted letter spacing */
  border-radius: 25px; /* Adjusted border radius */
  transition: 0.3s;
}

.contact-input:focus {
  border-color: var(--third-color);
  background-color: #fff;
}

.contact-input-container:focus-within label,
.contact-input:focus-within + .contact-input-container label {
  color: var(--third-color);
}

.contact-input-container:focus-within .contact-icon,
.contact-input:focus-within + .contact-icon {
  color: var(--third-color);
}

textarea.contact-input {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  min-height: 250px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
  font-family: "Red Hat Display";
  color: rgb(54, 54, 54);
}

textarea.contact-input::-webkit-scrollbar {
  width: 12px; 
}

textarea.contact-input::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 6px;
}

textarea.contact-input::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
  font-family: "Red Hat Display";
}

.contact-icon{
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(94, 94, 94);
}

/*spremeni se ko je v fokusu*/
.contact-input-container.focus label {
  font-size: 0.8rem;
  top: 0.5rem;
  transform: translateY(0);
  transition: 0.3s;

}

.contact-input-container.textarea.focus label {
  font-size: 0.8rem;
  top: 0.5rem;
  transform: translateY(0);
  transition: 0.3s;
  font-weight: bold;
}

.contact-input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.contact-icon.textarea{
  top: 1rem;
  transform: translateY(0);
}

.contact-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: var(--third-color);
  color: black;
  border-radius: 40px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn.contact {
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Red Hat Display";
}

.btn.contact:hover {
  background-color: rgb(138, 228, 255);
}

.send-button{
  position: relative;
}

.send-icon{
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
  font-size: 25px;
}

.btn.upload{
  position: relative;
  background-color: hsl(208, 50%, 50%, 6.5%);
}

.btn.btn.upload label{
  font-weight: bolder;
  font-size: 20px;
  font-family: "Red Hat Display";
  color: rgb(94, 94, 94);
}

.btn.upload:hover{
  background-color: rgb(233, 233, 233);
}

.btn.upload span{
  color: var(--primary-color);
  font-size: 20px;
  color: rgb(94, 94, 94);
}

.btn.upload input{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: red;
  cursor: pointer;
  opacity: 0;
}

#attachment-list {
  margin-top: 1rem;
}

.attachment-item {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: gray;
}

/*Desna stran---------------------*/
.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  background-color: var(--third-color);
  border-radius: 100px 0 0 20px;
}

.contact-info .title {
  color: #fff;
  padding-bottom: 1rem;
}

.contact-info-information{
  display: flex;
  color: #fff;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 1.1rem;
}

.contact-info-icon {
  width: 28px;
  margin-right: 0.7rem;
  font-size: 20px;
}

.contact-info-social-media {
  padding: 1rem 0 0 0;
}

.contact-info-social-media p {
  color: #fff;
}

.contact-info-social-icons {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.contact-info-social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  color: var(--third-color);
  text-align: center;
  padding-top: 7px;
  margin-right: 1.5rem;
  transition: 0.3s;
}

.contact-info-social-icons a:hover {
  transform: scale(1.05);
}

.contact-map {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-map iframe {
  width: 100%; 
  max-width: 1000px;
  height: 350px;
  border-radius: 10px 10px 10px 10px;
}


/*FOOTER-----------------------------------------------------------------------------------------------------------*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
/*Socialna omrežja*/
.footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0;
  flex-wrap: wrap;
}
.footer .social_icon li {
  list-style: none;
}
.footer .social_icon li a {
  font-size: 2em;
  display: inline-block;
  margin: 0 80px;
  transition: 0.5s;
  color: var(--secondary-color);
}
.footer .social_icon li a:hover {
  transform: translateY(-10px);
}

/*Copyright*/
.footer .copyright li {
  list-style: none;
}
.footer .copyright li a {
  font-size: 1.0em;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  color: var(--secondary-color);
}


/*Messages zavihek -------------------------------------------------------------------------------------------------------------------------*/

.messages-container {
  padding-left: 100px;
  padding-right: 100px;
}

.messages {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

/*leva stran*/
#sidebar {
  width: 25%;
  background-color: var(--third-color);
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.sidebarContent{
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

.inboxHead {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
}

#newMessage {
  cursor: pointer;
  transform: translatey(10%);
  font-size: 2.5rem;
}

.receivedSent{
  width: 100%;
  border-radius: 15px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

#buttonReceived, #buttonSent{
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  overflow-y: auto;
  cursor: pointer;
  border: solid 2px transparent;
  font-weight: bold;
  font-size: 20px;
  font-family: "Red Hat Display";
  background-color: hsla(208, 50%, 50%, 0.089);
  color: rgb(94, 94, 94);
}

#buttonReceived:hover, #buttonSent:hover{
  border: solid 2px var(--third-color)
}

#buttonReceived.active-button {
  background-color: var(--third-color);
  color: white; 
}

#buttonSent.active-button {
  background-color: var(--third-color);
  color: white; 
}

/*desna stran*/
#messageRight {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--third-color);
  display: block;
}

#messageRight h1{
  color: white;
  text-align: center;
}

#openMessage{
  border-bottom: solid 2px #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.9rem;
}

.messageRightContent {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  display: none;
  margin-bottom: 1rem;
}

#iconOpenMessage {
  font-size: 20rem;
  color: white;
  text-align: center;
}


.messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages li {
  cursor: pointer;
  padding: 8px;
  background-color: hsla(208, 50%, 50%, 0.089);
  border-radius: 15px;
  margin-top: 1rem;
  font-size: 15px;
  font-family: "Red Hat Display";
  color: rgb(94, 94, 94);
}

.messages li:hover {
  background-color: var(--third-color);
  color: #fff;
}

.receivedMessages li.active-message,
.sentMessages li.active-message {
  background-color: var(--third-color);
  color: white;
}

/* Message content styles */
#messageRight h2 {
  margin-bottom: 10px;
}

#messageRight button {
  margin-top: 1rem;
  padding: 10px;
  background-color: var(--third-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Red Hat Display";
}

.message-container {
  display: flex;
  align-items: center;
}

.avatar-icon {
  font-size: 2.5rem;
  margin-right: 10px;
}

.message-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Allow text to take remaining space */
}

.message-date {
  align-self: flex-end; /* Align to the bottom right */
}

.message-subject {
  font-size: 17px;
  font-weight: bolder;
}

/*Create new message--------------------------------------------------------------------------------------------------*/
#newMessageForm {
  width: 60%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  overflow: hidden;
  padding: 1rem;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hide the form */
}


/*Forward message input*/
#forwardEmail{
  width: 30%;
  outline: none;
  border: 2px solid hsla(208, 94%, 54%, 0.137);
  background-color: hsl(208, 50%, 50%, 6.5%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: rgb(54, 54, 54);
  font-size: 0.8rem; /* Adjusted font size */
  font-weight: bold;
  letter-spacing: 0.8px; 
  border-radius: 25px; 
  transition: 0.3s;
  margin: 0.4rem;
}

#forwardEmail:focus, #replyToMessage:focus {
  border-color: var(--third-color);
  background-color: #fff;
}

/*reply of message*/
.messageReply{
  background-color: transparent;
}

.reply{
  background-color: white;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 15px;
  
}

#replyToMessage {
  width: 80%;
  height: 10rem;
  outline: none;
  border: 2px solid hsla(208, 94%, 54%, 0.137);
  background-color: hsl(208, 50%, 50%, 6.5%);
  padding: 0.7rem 1rem;
  color: rgb(54, 54, 54);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.8px; 
  border-radius: 25px; 
  transition: 0.3s;
  margin-top: 1rem;
  margin-bottom: 0;
  resize: none;
}

#replyToMessage::placeholder {
  position: absolute;
  top: 0.7rem; /* Adjust as needed */
  left: 1rem;
  font-size: 0.8rem; /* Adjusted font size */
  color: rgba(54, 54, 54, 0.5); /* Adjusted color and opacity */
  transition: 0.3s;
}
